In [2]:
import pandas as pd

# Data Cleaning

In [3]:
dataFrame = pd.read_csv('./DataSets/hotel_bookings.csv')
dataFrame.head(3)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02

In [4]:
dataFrame.shape

(119390, 32)

### Finding Duplicated rows  (Have 31994 rows duplicated) & Droping

In [5]:
dataFrame.duplicated().sum()

31994

In [6]:
dataFrame[dataFrame.duplicated()].head(3)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
22,Resort Hotel,0,72,2015,July,27,1,2,4,2,...,No Deposit,250.0,NaN,0,Transient,84.67,0,1,Check-Out,2015-07-07
43,Resort Hotel,0,70,2015,July,27,2,2,3,2,...,No Deposit,250.0,NaN,0,Transient,137.00,0,1,Check-Out,2015-07-07

In [7]:
dataFrame.drop_duplicates(inplace=True)

In [8]:
dataFrame.duplicated().sum()

0

In [9]:
dataFrame.shape[0]

87396

### Finding Nan Values and removing or filling them

In [10]:
dataFrame.isnull().sum()

hotel                                 0
is_canceled                           0
lead_time                             0
arrival_date_year                     0
arrival_date_month                    0
arrival_date_week_number              0
arrival_date_day_of_month             0
stays_in_weekend_nights               0
stays_in_week_nights                  0
adults                                0
children                              4
babies                                0
meal                                  0
country                             452
market_segment                        0
distribution_channel                  0
is_repeated_guest                     0
previous_cancellations                0
previous_bookings_not_canceled        0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
agent                             12193
company                           82137
days_in_waiting_list                  0
customer_type                         0
adr                                   0
required_car_parking_spaces           0
total_of_special_requests             0
reservation_status                    0
reservation_status_date               0
dtype: int64

In [11]:
dataFrame.drop('company', axis=1, inplace=True)

In [12]:
dataFrame = dataFrame[dataFrame['country'].isnull() != True]

In [13]:
dataFrame['country'].isnull().sum()

0

In [14]:
dataFrame['agent'].fillna(0.0, inplace = True)

In [15]:
dataFrame['agent'].isnull().sum()

0

In [16]:
dataFrame['children'].fillna(0, inplace= True)

In [17]:
# Checking NaN from all Table
dataFrame.isnull().sum().sum()

0

Conclusion: Data Cleaning is Done, Only 1 column is removed

In [18]:
dataFrame.to_csv("./DataSets/Final DataSet.csv")