### Logictic Regression a Statistical Method for Binary Classification

> Uses Sigmoid Function

In [25]:
import numpy as np
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [20]:
dataFrame = sns.load_dataset("flights")

month = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "July", "Aug", "Sep", "Oct", "Nov", "Dec"]

mapping_month =  {label:i+1 for i, label in enumerate(month)}
dataFrame["M"] = dataFrame["month"].map(mapping_month)

dataFrame.isnull().sum()

dataFrame.dropna( axis=0, inplace=True)

dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 132 entries, 0 to 143
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        132 non-null    int64
 1   month       132 non-null    category
 2   passengers  132 non-null    int64
 3   M           132 non-null    float64
dtypes: category(1), float64(1), int64(2)
memory usage: 4.6 KB

In [21]:
dataFrame

     year month  passengers     M
0    1949   Jan         112   1.0
1    1949   Feb         118   2.0
2    1949   Mar         132   3.0
3    1949   Apr         129   4.0
4    1949   May         121   5.0
..    ...   ...         ...   ...
139  1960   Aug         606   8.0
140  1960   Sep         508   9.0
141  1960   Oct         461  10.0
142  1960   Nov         390  11.0
143  1960   Dec         432  12.0

[132 rows x 4 columns]

In [29]:

train = dataFrame.drop(["year", "month"], axis=1)
target = (dataFrame["year"] == 1949).astype(int)

In [30]:
X_train, X_test, y_train, y_test = train_test_split(train, target, test_size=0.3, random_state=42)
X_train

     passengers     M
24          145   1.0
49          196   2.0
72          242   1.0
97          301   2.0
33          162  10.0
..          ...   ...
77          315   6.0
116         404   9.0
15          135   4.0
100         355   5.0
111         348   4.0

[92 rows x 2 columns]

In [31]:
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [32]:
Y_pred = model.predict(X_test)
a = accuracy_score(y_test, Y_pred)
a

0.9